<!DOCTYPE html>
<html>
<head>
  <title>RailsTodo</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>

<header>
    <nav class="navbar navbar-inverse navbar-static-top">
        <ul class="nav navbar-nav">
            <li><%= link_to "Home", root_path, class: 'navbar-brand' %></li>
            <li><%= link_to "New Item", new_item_path %></li>
        </ul>
    </nav>
</header>

<main>
    <%= yield %>
</main>

</body>
</html>
